* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logo-title i {
  color: rgb(102, 17, 220);
}

.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login-header p {
  color: #807c7c;
}

.input-boxes {
  margin: 10px 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

small {
  color: red;
  font-size: 0.8rem;
}

.input-section {
  margin-bottom: 20px;
}

.remember {
  display: flex;
  margin-bottom: 20px;
}

.create-account-link {
  text-align: center;
}
.create-account-link a {
  text-decoration: none;
}

#login-btn {
  background-color: rgb(144, 73, 210);
  border-radius: 5px;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

label {
  color: #807c7c;
}

@media (max-width: 500px) {
  form {
    padding: 20px;
  }

  .login-logo-title span {
    font-size: 1.5rem;
  }

  .input-boxes {
    padding: 1rem;
  }

  .login-header h1 {
    font-size: 1.5rem;
  }
}
